div {
    height: 200px;
    width: 100px;
}

#pembungkus {
    height: 600px;
    width: 500px;
    border: 5px solid #008000;
    position: relative;
    float: right;
}

#div1 {
    background-color: lightgreen;
    position: static;
}

#div2 {
    background-color: gold;
    position: static;
    top: 0;
    left: 0;

}

#div3 {
    background-color: red;
    position: static;

}